[submodule "themes/book"]
	path = themes/book
	url = https://github.com/alex-shpak/hugo-book
[submodule "bdoherty12000.github.io"]
	path = bdoherty12000.github.io
	url = https://github.com/bdoherty12000/bdoherty12000.github.io.git
